<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>FraudGuard</title>
</head>
<body>
  <div class="container mt-5">
    <div class="text-center">
      <h1>Welcome to FraudGuard!</h1>
      <p>Please upload your CSV file:</p>
    </div>
    <form id="upload-form" method="POST" enctype="multipart/form-data" class="mb-3">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" name="file" onchange="updateFileName(this)">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-3">Upload</button>
    </form>
    <div id="progress-bar" style="display: none;">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
      <p class="text-center mt-2">Processing...</p>
    </div>
    <div class="text-center mt-5">
      <h4>What is FraudGuard?</h4>
      <p>FraudGuard is an application that uses machine learning models to predict fraudulent transactions based on CSV files. Simply upload your CSV file, and FraudGuard will analyze it and provide predictions on the likelihood of fraud for each transaction.</p>
      <h4>Models Used</h4>
      <p>FraudGuard utilizes the following machine learning models:</p>
      <ul>
        <li>Logistic Regression</li>
        <li>Random Forest</li>
        <li>Support Vector Machine (SVM)</li>
        <li>XGBoost</li>  <!-- added -->
      </ul>
      <h4>Code Explanation</h4>
      <p>The Flask application handles the file upload and processing. Upon selecting a CSV file, the application will display the progress bar while processing the predictions using the pre-trained models. The predictions are then displayed on the results page.</p>
      <p class="project-attribution">This project presented by the efforts of Dylan Johnston, Rosa Olvera, Michelle Silver, Alex Valenzuela, and James White.</p>
    </div>
  </div>

  <script>
  document.getElementById('upload-form').onsubmit = function() {
      document.getElementById('progress-bar').style.display = 'block';
  };

  function updateFileName(input) {
    var fileName = input.value.split('\\').pop();
    input.nextElementSibling.innerText = fileName;
  }
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>